
body {
    background: linear-gradient(180deg, #C2B280 0%, #514932 100%);
    width: 1920px;
    height: 4420px;
    margin: 0;
    padding: 0;
}
#containter
{
}
#nav {
    Width: 1920px;
    Height: 173px;
    background: #756842;
    margin-left: auto;
    margin-right: auto;
    float: left ;
    text-decoration: none;
}
a{text-decoration:none; color:black;}
a:visited{
    color:white;
}

#nawigacja1 {
    width: 265px;
    left: 289px;
    top: 38px;
    background: #CCAB49;
    border-radius: 20px;
    height: 98px;
    font-size: 24px;
    line-height: 80px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
    position: absolute;
    width: 265px;
    height: 98px;
    left: 289px;
    top: 38px;
    cursor: pointer;
}
    #nawigacja1:hover {
        background-color: #364175;
        color:white;
    }
    #nawigacja1:visited {
        color: white;
        font-family: 'Lato', sans-serif;
        text-decoration:none;
    }

#nawigacja2 {
    background: #CCAB49;
    border-radius: 20px;
    height: 98px;
    font-size: 24px;
    line-height: 80px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
    position: absolute;
    width: 265px;
    height: 98px;
    left: 648px;
    top: 38px;
    cursor: pointer;
}
        #nawigacja2:hover {
            background-color: #364175;
        }

#nawigacja2:visited {
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

#nawigacja3 {
    background: #CCAB49;
    border-radius: 20px;
    height: 98px;
    font-size: 24px;
    line-height: 80px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
    position: absolute;
    width: 265px;
    height: 98px;
    left: 1007px;
    top: 38px;
    cursor: pointer;
}

            #nawigacja3:hover {
                background-color: #364175;
                color: white;
            }

#nawigacja4 {
    background: #CCAB49;
    border-radius: 20px;
    height: 98px;
    font-size: 24px;
    line-height: 80px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
    position: absolute;
    width: 265px;
    height: 98px;
    left: 1366px;
    top: 38px;
    cursor: pointer;
}
    #nawigacja4:hover {
        background-color: #364175;
        color: white;
    }


#pobudzamy {
    position:absolute;
    box-shadow: 0px 4px 40px 30px rgba(0, 0, 0, 0.25);
    height: 248px;
    width: 603px;
    left: 1130px;
    top: 441px;
    border-radius: 76px;
    background: #FFF0C2;
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 86px;
    display: flex;
    align-items: center;
    text-align: center;
        cursor:pointer;
}
    #pobudzamy:hover {
        background-color: #808CC2;

    }

#logo {
    position:relative;
    height: 481px;
    width: 683px;
    left: 207px;
    top: 172px;
}

#onas {
    position:absolute;
    font-family: Lato;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 0em;
    height: 80.64213562011719px;
    width: 221px;
    left: 245px;
    top: 473px;
}
#onasbox {
    height: 428.528564453125px;
    width: 903px;
    left: 127px;
    top: 1092.16px;
    border-radius: 76px;
    background: #FFF0C2;
    box-shadow: 0px 4px 40px 30px rgba(0, 0, 0, 0.25);
    position:absolute
}
#onastekst {
    position: relative;
    height: 268.1820068359375px;
    width: 772px;
    left: 88px;
    top: 80px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
}
#foto1 {
    position: absolute;
    width: 655px;
    left: 1141px;
    top: 1092px;
}
#tysiacetytul {
    position:absolute;
    font-family: Lato;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
    top:1636px;
    left:350px;
}
#foto2{
    position:absolute;
    top:1876px;
    left:181px;
}
#tysiacebox {
    position: absolute;
    height: 268px;
    width: 842px;
    left: 959px;
    top: 1951px;
    border-radius: 76px;
    background: #FFF0C2;
    box-shadow: 0px 4px 40px 30px rgba(0, 0, 0, 0.25);
}
#tysiacetekst {
    position: relative;
    height: 167px;
    width: 721px;
    left: 61px;
    top: 50px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
}
#copotraftyt {
    position: absolute;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    top:2527px;
    left:662px;
}
#latte {
    position:absolute;
    height: 415px;
    width: 250px;
    left: 261px;
    top: 2723px;
    border-radius: 20px;
}
#lattebox {

    height: 78px;
    width: 250px;
    left: 261px;
    top: 3160px;
    border-radius: 76px;
    background: #FFF0C2;
}
#lattetekst {
    position: relative;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    top: 16px;
}
#espresso {
    position: absolute;
    height: 415px;
    width: 250px;
    left: 662px;
    top: 2723px;
    border-radius: 20px;
}

#espressobox {
    height: 78px;
    width: 250px;
    left: 662px;
    top: 3160px;
    border-radius: 76px;
    background: #FFF0C2;
}

#espressotekst {
    position: relative;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    top: 16px;
}
#capp {
    position: absolute;
    height: 415px;
    width: 250px;
    left: 1069px;
    top: 2723px;
    border-radius: 20px;
}

#cappbox {
    height: 78px;
    width: 250px;
    left: 1069px;
    top: 3160px;
    border-radius: 76px;
    background: #FFF0C2;
}

#capptekst {
    position: relative;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    top: 16px;
}
#kakao {
    position: absolute;
    height: 415px;
    width: 250px;
    left: 1476px;
    top: 2723px;
    border-radius: 20px;
}

#kakaobox {
    height: 78px;
    width: 250px;
    left: 1476px;
    top: 3160px;
    border-radius: 76px;
    background: #FFF0C2;
}

#kakaotekst {
    position: relative;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    top: 16px;
}
#wiecej {
    position: absolute;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    height: 166px;
    width: 1054px;
    left: 460px;
    top: 3295px;
}
#kontakt {
    position: absolute;
    font-family: Lato;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 86px;
    letter-spacing: 0em;
    text-align: center;
    height: 86px;
    width: 889px;
    left: 521px;
    top: 3567px;
}
#adresbox {
    position:absolute;
    background: #FFF0C2;
    height: 176px;
    width: 416px;
    left: 414px;
    top: 3765px;
    border-radius: 76px;
}
#adrestekst {
    position:relative;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    top:60px;
    left:40px;
}
#mailbox {
    position: absolute;
    background: #FFF0C2;
    height: 176px;
    width: 416px;
    left: 206px;
    top: 3941px;
    border-radius: 76px;
}

#mailtekst {
    position: relative;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    top: 60px;
    left: 40px;
}
#numerbox {
    position: absolute;
    background: #FFF0C2;
    height: 176px;
    width: 416px;
    left: 622px;
    top: 3941px;
    border-radius: 76px;
}

#numertekst {
    position: relative;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    top: 60px;
    left: 40px;
}
#foto3 {
    position:absolute;
    height: 400px;
    width: 600px;
    left: 1132px;
    top: 3741px;
    border-radius: 48px;
}
#foot {
    position:absolute;
    Width: 1920px;
    Height: 173px;
    background: #756842;
    margin-left: auto;
    margin-right: auto;
    top:4247px;
}
#twitter {
    position: absolute;
    height: 70px;
    width: 87px;
    left: 535px;
    top: 52px;
}
#fb {
    position:absolute;
    height: 70px;
    width: 87px;
    left: 924px;
    top: 52px;
}
#yt {
    position: absolute;
    height: 70px;
    width: 87px;
    left: 1292px;
    top: 52px;
}